POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=trust

EMAIL_HOST_USER=laba.intern.bot@gmail.com
EMAIL_HOST_PASSWORD=psw!qaz2wsx
DEFAULT_FROM_EMAIL=laba.intern.bot@gmail.com

DEBUG=1


ADMIN_EMAIL=youremail@mail.com
ADMIN_NAME=yourname

ALLOWED_HOSTS=laba.in.ua
CELERY_BROKER_URL=redis://localhost:6379
